* {
    margin: 0;
    padding: 0;
}
body {
    background-color:#F3F8FC;
    font-family:sans-serif;
}
.container  {
    max-width: 795px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}
.header {
    width: 100%;
    background-color: white;
    padding: 17px 0;
    margin-bottom: 75px;
}
.q {
    padding: 25px 5px;
    /* max-width: 201px; */
    background: white;
    /* width: 100%; */
    border-radius: 10px;
    /* flex: 33.3333333333%; */
    margin: 10px;
    
    
    
}

h3 {
    margin-bottom: 34px;
    text-align: center;
}

.q p {
    margin-bottom: 60px;
    padding: 0 10px;
    text-align: center;
}
.q a {
    border: 2px solid #61a0ff;
    padding: 11px 33px;
    border-radius: 13px;
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    
}
.b-one {
    display: flex;
    flex-wrap: wrap;
}
.a {
    display: flex;
    justify-content: center;
}

@media (max-width: 768px) {
    .container{
        max-width: 545px;
    }
    
}
@media (max-width: 781px) {
.q {
    max-width: 545px;
}
}
a {
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
a:hover {
    background-color: #61a0ff;
    color: white;
   transition: 0.5s;
}
.nav h2 {
    padding: 0 10px;
}

.cl {
    
    flex: 0 0 33.3333333%;
}
@media (max-width: 500px) {
    .b-one {
        justify-content: center;
    }
    .cl {
        flex: auto;
    }
}
@media (max-width: 547px) {
.b-one {
    display: block;
}

}